footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.emoji-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px 0;
}

.emoji-container:hover {
  background-color: #e4e9f5;
}

.emoji i,
span {
  font-size: 21px;
}

.emoji:nth-child(1) {
  color: #3a5c9f;
}

.emoji span {
  margin: 0 8px;
}

@media screen and (max-width: 800px) {
  footer {
    height: 48px;
  }

  .emoji i,
  span {
    font-size: 18px;
  }
}
