.header-flexbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin: 12px 21px;
}

.header-flexbox-container img {
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

.header-flexbox-container i {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-size: 25px;
}

.pagename-date-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  margin-left: 21px;
}

.pagename-date-container span:nth-child(1) {
  color: #3a5c9f;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
}

.pagename-date-container span:nth-child(1):hover {
  text-decoration: underline;
}

.pagename-date-container span:nth-child(2) {
  font-size: 14px;
}
